@font-face {
    font-family: $font_avenir_heavy;
    src: url("fonts/AvenirLTStd-Heavy.otf");
}
@font-face {
    font-family: $font_avenir_light;
    src: url("fonts/AvenirLTStd-Light.otf");
}
@font-face {
    font-family: $font_avenir_medium;
    src: url("fonts/AvenirLTStd-Medium.otf");
}
@font-face {
    font-family: $bebas;
    src: url("fonts/BebasNeue.otf");
}
@font-face {
    font-family: $bebas_light;
    src: url("fonts/BebasNeueLight.otf");
}
