$font_avenir_heavy:'avenir_heavy';
$font_avenir_light:'avenir_light';
$font_avenir_medium:"avenir_medium";
$bebas:"bebas";
$bebas_light:"bebas_light";
$danger_color:#D91919;
// $danger_color:#FF3A32;
$success_color:#56DC58;
$info_color:#0a95d3;
.font-avenir-heavy{
    font-family: $font_avenir_heavy;
}
.font-avenir-light{
    font-family: $font_avenir_light;
}
.font-avenir-midium{
    font-family: $font_avenir_medium;
}